apiVersion: v1
data:
  nmstate: {{ lookup('template', worker_network_config_template, template_vars=dict(provision_nic=item.prov_nic,baremetal_nic=item.bm_nic)) | b64encode }}
kind: Secret
metadata:
  name: "{{ item.host_name }}-network-config-secret"
  namespace: openshift-machine-api
